# Postgres
POSTGRES_USER=amazing
POSTGRES_PASSWORD=changeme
POSTGRES_DB=amazing_db
POSTGRES_PORT=5432
POSTGRES_HOST=localhost

# Server
SERVER_PORT=3001

# Client
CLIENT_PORT=3000
VITE_API_URL=http://localhost:3001
