# Postgres
POSTGRES_USER=myuser
POSTGRES_PASSWORD="changeme123"
POSTGRES_DB=myapp
POSTGRES_PORT=5432
POSTGRES_HOST=localhost

SERVER_PORT=3001
CLIENT_PORT=3000
DATABASE_URL = "postgres://myuser:changeme123@localhost:5432/myapp"
VITE_API_URL=http://localhost:3001
