# Postgres
POSTGRES_USER=amazing
POSTGRES_PASSWORD=changeme
POSTGRES_DB=amazing_db
POSTGRES_PORT=5432

# Server
SERVER_PORT=3001
DATABASE_URL= = postgresql://amazing:changeme@localhost:5432/amazing_db
# Client
VITE_API_URL=http://localhost:3001
