html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  background: var(--chakra-colors-bg-canvas);
  color: var(--chakra-colors-fg-default);
  transition: background-color 0.2s ease, color 0.2s ease;
}

:root,
:host {
  color-scheme: light dark;
}

.css-1af85vd {
  margin-bottom: 0px !important;
}
